body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(0, 6, 43);
}

.navbar {
    /* position: fixed; */
    padding: 19px;
    font-weight: bold;
    box-shadow: 0.1px 0px 0px 0px;
    min-height: 100vh;
    width: 250px;
    background: rgb(0, 6, 43);
    color: white;
}


@media(max-width:680px){
    .navbar{
        display:none;
    }
}

.nav-title {
    align-self: baseline;
    margin-bottom: 30px;
    color: white;
    /* background:linear-gradient(120deg,blue,green);
    -webkit-background-clip: text;
    color:transparent; */
    width: 270px;
    font-size: 30px;
}

.navbar nav {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media(max-width:680px) {
    .navbar nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 15px;
        box-shadow: 0px 0px 3px 0px;
        width:0;
    }
}

.navbar nav .nav-link {
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.nav-link.active {
    background: navy;
    box-shadow: 0px 0px 3px 0px navy;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
}

.nav-link:not(.active):hover {
    background: transparent;
}

.navbar nav .nav-link:hover {
    background: navy;
    box-shadow: 0px 0px 3px 0px navy;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
}