.splash-screen-section{
    margin:0;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    min-height:100vh;
    /* background: rgba(1, 38, 59, 0.4); */
    background: rgb(0, 6, 43);
}
.splash-screen-logo{
    width:550px;
    height:350px;
    border-radius:5px;
}

.splash-screen-loading{
    width:100px;
    height:100px;
    border-radius:50%;
    border:1px solid transparent;
    border-top:1px solid lightblue;
    animation:load 1.3s linear infinite;
}

@keyframes load{
    from{
        tranform:rotate(0deg)
    }
    to{
        transform:rotate(360deg)
    }
}